.benefits__item {
  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 2;
  }
  
  @media screen and (min-width: 1200px) {
    --items: 4;
  }

}

.benefits__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background: var(--secondary-background-color);
  border-radius: 4px;

}

.benefits__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);

@media screen and (min-width: 768px) {
    text-align: left;
  }

 @media screen and (min-width: 1200px) {
  text-align: left;
 }
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}


