.clients__item {
   --items: 2;

 @media screen and (min-width: 768px) {
      --items: 3;
   }

 @media screen and (min-width: 1200px) {
    --items: 6;
 }
}
  
.clients__link {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 15px;
   padding-bottom: 15px;


   border: 1px solid var(--border-color-social);
   border-radius: 4px;
   color: var(--border-color-social);

   transition: color var(--duration-timing), border var(--duration-timing);

   &:hover,
   &:focus {
      color: var(--accent-color);
      border: 1px solid var(--accent-color);
      }
}
 
.clients__logo {
   fill: currentColor;
}

