.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    // outline: 1px solid red;

 @media screen and (min-width: 480px) {
    width: 480px; 
 }

 @media screen and (min-width: 768px) {
    width: 768px;
 }

 @media screen and (min-width: 1200px) {
    width: 1200px;
 }

}