.hero {
    max-width: 100vw;
    max-height: 400px;
    padding-bottom: 118px;
    padding-top: 118px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--hero-background-color);

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_mob@1x.jpg);

 @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_mob@2x.jpg);
 }

 @media screen and (min-width: 481px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_tab@1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_tab@2x.jpg);
    }
 }

 @media screen and (min-width: 769px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_desk@1x.jpg);
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_desk@2x.jpg);
    }
 }
   
 @media screen and (min-width: 1200px) {
    max-width: 1600px;
    max-height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
 
 }
}

.hero__btn {
    min-width: 216px;
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;
}




